* {
    margin: 0px;
    padding: 0px;

}


#image {
    position: absolute;
    min-height: 100%;
    max-width: 100%;
    background: url("https://hdqwalls.com/wallpapers/material-design-blue-and-white-to.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    overflow-x: hidden;



}

#form1 {
    width: 400px;
    height: 600px;
    background-color: #0c5f97;
}

@media(max-width:700px) {
    #form1 {
        /* width: 350px; */
        margin-left: 4px;
    }
   
}